*.DS_Store*
*.Rhistory*
*scripts/*
*CZID_seqs/*
*seqs/*
*.tar.gz*
figures/4_bayesian_phylogeny/data/Kobuvirus_BayesianTree.trees
figures/3_picornavirus_phylogeny/large_tree_plot.psd
*Kobuvirus_BayesianTree.trees*
